


{% extends 'app/main/base.html' %}
{% load static %}

{% block title %} Shop {% endblock title %}



{% block content %}

    <div class="blog-wrapper">
        <header class="main-header-area">
            <!-- Main Header Area Start -->
            {% include 'app/main/header.html' %}
            <!-- Main Header Area End -->
            {% include 'app/main/sticky.html' %}
            <!-- off-canvas menu start -->


            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">
                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="Search product...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- mobile menu start -->
                        {% include 'app/main/mobile_navbar.html' %}
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="#">My Account</a>
                                        <ul class="dropdown">
                                            <li><a href={% url 'login' %}>Login</a></li>
                                            <li><a href="{% url 'register' %}">Register</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Currency:USD</a>
                                        <ul class="dropdown">
                                            <li><a href="#">USD - US Dollar</a></li>
                                            <li><a href="#">EUR - Euro</a></li>
                                            <li><a href="#">GBP - British Pound</a></li>
                                            <li><a href="#">INR - Indian Rupee</a></li>
                                            <li><a href="#">BDT - Bangladesh Taka</a></li>
                                            <li><a href="#">JPY - Japan Yen</a></li>
                                            <li><a href="#">CAD - Canada Dollar</a></li>
                                            <li><a href="#">AUD - Australian Dollar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="info%40yourdomain.html">(1245) 2456 012</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="info%40yourdomain.html">info@yourdomain.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="off-canvas-widget-social">
                                <a title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Blog Sidebar</h3>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Blog Main Area Start Here -->
        <div class="blog-main-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-9 col-12 col-custom widget-mt">
                        <!-- Blog Wrapper Start -->
                        <div class="row">
                            {% for blog_single in blog_list %}
                                <div class="col-md-6 col-custom mb-4">
                                    <div class="single-blog">
                                        <div class="single-blog-thumb">
                                            <a href="{% url 'product-blog-details-page' blog_single.id %}">
                                                <div style="background-image: url('{{ blog_single.image.url }}'); background-repeat: no-repeat;
                                                        background-size: contain; width: 100%; height: 300px; background-position: center">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="single-blog-content position-relative">
                                            <div class="post-date text-center border rounded d-flex flex-column position-absolute">
                                                <span>14</span>
                                                <span>01</span>
                                            </div>
                                            <div class="post-meta">
                                                <span class="author">Author: {{ blog_single.author }}</span>
                                            </div>
                                            <h2 class="post-title">
                                                <a href="{{ blog_single.id }}/">{{ blog_single.title }}</a>
                                            </h2>
                                            <p class="desc-content">{{ blog_single.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Blog Wrapper End -->
                        <!-- Bottom Toolbar Start -->
                        <div class="row">
                            <div class="col-sm-12 col-custom">
                                <div class="toolbar-bottom">
                                    <nav class="pagination pagination-wrap mb-10 mb-sm-0">
                                        <ul class="pagination">
                                            {% if blog_list.has_previous %}
                                                <li class="disabled prev">
                                                    <a href="?page={{ blog_list.previous_page_number }}">
                                                        <i class="ion-ios-arrow-thin-left"></i></a>
                                                </li>
                                            {% endif %}
                                            {% for i in blog_list.paginator.page_range %}
                                                {% if blog_list.number == i %}
                                                    <li class="active"><a>{{ i }}</a></li>
                                                {% else %}
                                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if blog_list.has_next %}
                                                <li class="next">
                                                    <a href="?page={{ blog_list.next_page_number }}" title="Next >>"><i
                                                            class="ion-ios-arrow-thin-right"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Bottom Toolbar End -->
                    </div>


                    <div class="col-lg-3 col-12 col-custom">
                        <!-- Sidebar Widget Start -->
                        <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">
                                <button data-role="grid_list" type="button" class="active btn-list"
                                        data-bs-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                                <button data-role="grid_3" type="button" class="btn-grid-3" data-bs-toggle="tooltip"
                                        title="3"><i class="fa fa-th"></i></button>
                            </div>


                        </div>
                        <aside class="sidebar_widget mt-no-text">
                            <div class="widget_inner">
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Search</h3>
                                    <div class="search-box">
                                        <form action="" method="get">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="query" value="{{ query }}"
                                                       placeholder="Search Our Store" aria-label="Search Our Store">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="widget-list widget-mb-3">
                                    <h3 class="widget-title">Menu Categories</h3>
                                    <!-- Widget Menu Start -->
                                    <nav>
                                        <ul class="mobile-menu p-0 m-0">
                                            <li class="menu-item-has-children"><a href="#">Breads</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Skateboard (02)</a></li>
                                                    <li><a href="#">Surfboard (4)</a></li>
                                                    <li><a href="#">Accessories (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Fruits</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Samsome</a></li>
                                                    <li><a href="#">GL Stylus (4)</a></li>
                                                    <li><a href="#">Uawei (3)</a></li>
                                                    <li><a href="#">Avocado (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Vagetables</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Power Bank</a></li>
                                                    <li><a href="#">Data Cable (4)</a></li>
                                                    <li><a href="#">Avocado (3)</a></li>
                                                    <li><a href="#">Brocoly (3)</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Organic Food</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Vagetables</a></li>
                                                    <li><a href="#">Green Food (4)</a></li>
                                                    <li><a href="#">Coconut (3)</a></li>
                                                    <li><a href="#">Cabage (3)</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Widget Menu End -->
                                </div>
                                <div class="widget-list widget-mb-3">
                                    <h3 class="widget-title">Tags</h3>
                                    <div class="sidebar-body">
                                        <ul class="tags">
                                            <li><a href="#">Car</a></li>
                                            <li><a href="#">Parts</a></li>
                                            <li><a href="#">Shop</a></li>
                                            <li><a href="#">Tayer</a></li>
                                            <li><a href="#">Seat</a></li>
                                            <li><a href="#">Engine</a></li>
                                            <li><a href="#">Parts</a></li>
                                            <li><a href="#">Fuel</a></li>
                                            <li><a href="#">Modern</a></li>
                                            <li><a href="#">Brake</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget-list widget-mb-4">
                                    <h3 class="widget-title">Recent Products</h3>
                                    <div class="sidebar-body">
                                        {% for product in products_right %}
                                            <div class="sidebar-product align-items-center">
                                                <a href="{% url 'product-details' product.id %}" class="image">
                                                    <img src="{{ product.image.url }}" alt="product">
                                                </a>
                                                <div class="product-content">
                                                    <div class="product-title">
                                                        <h4 class="title-2"><a
                                                                href="{% url 'product-details' product.id %}">{{ product.title }}</a>
                                                        </h4>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="regular-price ">${{ product.price }}</span>
                                                        <span class="old-price"><del>$90.00</del></span>
                                                    </div>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>    <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- Sidebar Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Main Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <div class="support-wrapper d-flex">
                            <div class="support-content">
                                <h1 class="title">Need Help ?</h1>
                                <p class="desc-content">Call our support 24/7 at 01234-567-890</p>
                            </div>
                            <div class="support-button d-flex align-items-center">
                                <a class="obrien-button primary-btn" href="{% url 'contact' %}">Contact now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        {% include 'app/main/footer.html' %}
        <!-- Footer Area End Here -->
    </div>

    <!-- Modal Area Start Here -->
    <div class="modal fade obrien-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span class="close-icon" aria-hidden="true">x</span>
                </button>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 text-center">
                                <div class="product-image">
                                    <img src="{% static 'app/assets/images/product/1.jpg' %}" alt="Product Image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="modal-product">
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h4 class="title">Product dummy name</h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">$80.00</span>
                                            <span class="old-price"><del>$90.00</del></span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span>1 Review</span>
                                        </div>
                                        <p class="desc-content">we denounce with righteous indignation and dislike men
                                            who are so beguiled and demoralized by the charms of pleasure of the moment,
                                            so blinded by desire, that they cannot foresee the pain and trouble that are
                                            bound to ensue; and equal blame bel...</p>
                                        <form class="d-flex flex-column w-100" action="#">
                                            <div class="form-group">
                                                <select class="form-control nice-select w-100">
                                                    <option>S</option>
                                                    <option>M</option>
                                                    <option>L</option>
                                                    <option>XL</option>
                                                    <option>XXL</option>
                                                </select>
                                            </div>
                                        </form>
                                        <div class="quantity-with_btn">
                                            <div class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="0" type="text">
                                                    <div class="dec qtybutton">-</div>
                                                    <div class="inc qtybutton">+</div>
                                                </div>
                                            </div>
                                            <div class="add-to_cart">
                                                <a class="btn obrien-button primary-btn"
                                                   href="{% url 'product-cart-page' %}">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End Here -->

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->


{% endblock content %}








