
{% load static %}


<header class="main-header-area">
            <!-- Header Top Area Start Here -->
            <div class="header-top-area">
                <div class="container container-default-2 custom-area">
                    <div class="row">
                        <div class="col-12 col-custom header-top-wrapper text-center">
                            <div class="short-desc text-white">
                                <p>Get 35% off for new product </p>
                            </div>
                            <div class="header-top-button">
                                <a href="{% url 'shop_main' %}">Shop Now</a>
                            </div>
                            <span class="top-close-button">X</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top Area End Here -->
            <!-- Main Header Area Start -->
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="{% url 'index' %}">
                                            <img class="img-full" src="{% static 'app/assets/images/logo_5.png' %}" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %} href="{% url 'index' %}">
                                                    <span class="menu-text"> Home</span>
                                                </a>

                                            </li>
                                                <li>
                                                <a {% if request.resolver_match.url_name == 'shop_main' %}class="active"{% endif %} href="{% url 'shop_main' %}">
                                                    <span class="menu-text">Shop</span>
                                                     <i class="fa fa-angle-down"></i>

                                                </a>
                                                <ul class="dropdown-submenu dropdown-hover">
                                                       {% if user.is_authenticated %}
                                                            <li><a href={% url 'add-product' %}>Add Product</a></li>
                                                           <li><a href={% url 'shop_main' %}>Shop</a></li>

                                                       {% else %}
                                                           <li><a href={% url 'login' %}>Add Product</a></li>
                                                            <li><a href={% url 'shop_main' %}>Shop</a></li>
                                                        {% endif %}
                                                </ul>

                                            </li>
                                            <li>
                                                <a {% if request.resolver_match.url_name == 'product-blog-page' %}class="active"{% endif %} href="{% url 'product-blog-page' %}">
                                                    <span class="menu-text"> Blog</span>
                                                </a>

                                            </li>
                                            <li>
                                                <a  {% if request.resolver_match.url_name == 'product-frequently-questions-page' or request.resolver_match.url_name == 'login' or request.resolver_match.url_name == 'register' or request.resolver_match.url_name == 'logout'  or request.resolver_match.url_name == 'my_account'  %}   class="active"{% endif %} href="#" >
                                                        <span class="menu-text"> Pages</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <a
                                                href="{% url 'product-frequently-questions-page'   %} or
                                                {% url 'login' %} or
                                                {% url 'register' %} or
                                                {% url 'my-account' %} or
                                    
                                                {% url 'logout' %}">
                                                </a>


                                                <ul class="dropdown-submenu dropdown-hover">
                                                    <li><a href="{% url 'product-frequently-questions-page' %}">FAQ</a></li>
                                                    {% if user.is_authenticated %}
                                                    <li><a href="{% url 'my-account' %}">My Account</a></li>
                                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                                     {% else %}
                                                        <li><a href="{% url 'login' %}">Login</a></li>
                                                        <li><a href="{% url 'register' %}">Register</a></li>
                                                    {% endif %}

                                                </ul>
                                            </li>
                                            <li>
                                                <a  {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %} href="{% url 'about' %}" ><span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a  {% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %} href="{% url 'contact' %}">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                            {% if user.is_authenticated %}
                                                <span><a href="{% url 'logout' %}">Logout</a></span>

                                             {% else %}
                                                 <span><a href="{% url 'login' %}">Login</a></span>
                                                 <span><a href="{% url 'register' %}">Register</a></span>
                                            {% endif %}


                                            </li>
                                            <li class="sidemenu-wrap d-none d-lg-flex">
                                                <a href="#">USD <i class="fa fa-caret-down"></i> </a>
                                                <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-language">
                                                    <li><a href="#">USD - US Dollar</a></li>
                                                    <li><a href="#">EUR - Euro</a></li>
                                                    <li><a href="#">GBP - British Pound</a></li>
                                                    <li><a href="#">INR - Indian Rupee</a></li>
                                                    <li><a href="#">BDT - Bangladesh Taka</a></li>
                                                    <li><a href="#">JPY - Japan Yen</a></li>
                                                    <li><a href="#">CAD - Canada Dollar</a></li>
                                                    <li><a href="#">AUD - Australian Dollar</a></li>
                                                </ul>
                                            </li>
                                            {% if user.is_authenticated %}
                                                <li class="minicart-wrap">
                                                <a href="{% url 'product-cart-page' %}" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    <span class="cart-item_count">{{ cart_items_nav_number }}</span>
                                                </a>
                                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                                    {% for cart_item in cart_items_nav %}
                                                    	<div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="#"><img src="{{ cart_item.product.image.url }}" alt=""></a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title"><a href="{% url 'product-cart-page' %}">{{ cart_item.product.title }}</a></h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>{{ cart_item.quantity }}×</span>
                                                                    <span class="cart-price">{{ cart_item.product.price }}</span>
                                                                </div>
                                                                <a href="{% url 'delete-cart' cart_item.id %}"><i class="ion-trash-b"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    <div class="cart-price-total d-flex justify-content-between">
                                                        <h5>Total :</h5>
                                                        <h5>{{ cart_items_total_nav }}</h5>
                                                    </div>
                                                    <div class="cart-links d-flex justify-content-center">
                                                        <a class="obrien-button white-btn" href="{% url 'product-cart-page' %}">View cart</a>
                                                        <a class="obrien-button white-btn" href="{% url 'product-checkout-page' %}">Checkout</a>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endif %}
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             {% include 'app/main/sticky.html' %}
            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            <form>
                                <input type="text" placeholder="Search product...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- mobile menu start -->
                        {% include 'app/main/mobile_navbar.html' %}
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="{% url 'my-account' %}">My Account</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'login' %}">Login</a></li>
                                            <li><a href="{% url 'register' %}">Register</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Currency:USD</a>
                                        <ul class="dropdown">
                                            <li><a href="#">USD - US Dollar</a></li>
                                            <li><a href="#">EUR - Euro</a></li>
                                            <li><a href="#">GBP - British Pound</a></li>
                                            <li><a href="#">INR - Indian Rupee</a></li>
                                            <li><a href="#">BDT - Bangladesh Taka</a></li>
                                            <li><a href="#">JPY - Japan Yen</a></li>
                                            <li><a href="#">CAD - Canada Dollar</a></li>
                                            <li><a href="#">AUD - Australian Dollar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="info%40yourdomain.html">(1245) 2456 012</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="info%40yourdomain.html">info@yourdomain.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="off-canvas-widget-social">
                                <a title="Facebook-f" href="#"><i class="fa fa-facebook-f"></i></a>
                                <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>